.geometry{
    margin-top: 100px;
}

.figure{
    &__title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            height: 50px;
            padding-right: 8px;
        }
    }
    &__inputs{
        margin-top: 20px;
        input{
            width: 50vw;
            background: var(--LightNavy);
            border: none;
            border-radius: 3px;
            height: 40px;
            outline: none;
            color: var(--white);
        }
        select{
            background: var(--LightNavy);
            color: var(--white);
            outline: none;
            border: none;
            height: 40px;
            width: 20vw;
            border-radius: 3px;
        }
    }
    &__btns{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
    }
}


.br{
    height: 3px;
    background-color: var(--LightestSlate);
    margin: 50px 0 100px 0;
    width: 80%;
}
