@import './header.scss';
@import './greetings.scss';
@import './geometry.scss';

:root{
    --background: #0a192f;
    --green: #64ffda;
    --white: #e6f1ff;
    --LightestNavy:  #233554;
    --LightNavy: #112240;
    --greenTransparent: #64FFDA5C;
    --LightestSlate: #ccd6f6;
    --Slate: #8892b0;

    --wrapperSpace: 1.5em;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background: var(--background);
}

h1, h2, h3, h4, h5, h6{
    color: var(--white);
}

p, label, span{
    color: var(--white)
}

label{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: var(--white);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper{
    padding: 0 var(--wrapperSpace);
    max-width: calc(1115px + 1.5em);
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

button{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--green);
    border-radius: 3px;
    padding: 8px 13px 8px 10px;
    color: var(--green);
    font-weight: bold;
}
button:last-child{
    margin-left: 20px;
}
button:hover{
    background: var(--greenTransparent);
    transition: 0.3s;
}

#result, #result2, #result3{
    position: relative;
    left: 30%;
    top: 40px;
}

#measures, #measures2, #measures3{
    position: relative;
    left: 30%;
    top: 40px;
}