.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: var(--green);
}

.greatings {
  margin-bottom: 2.5em;
}
.greatings__h2 {
  font-size: 1.4em;
  font-weight: 700;
}
.greatings__p {
  font-size: 1.2em;
  font-weight: 400;
}
.greatings__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.greatings__btns-li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
  background-color: var(--LightestNavy);
  border-radius: 5px;
  box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
}
.greatings__btns-li:hover {
  border: 1px solid var(--green);
}

.geometry {
  margin-top: 100px;
}

.figure__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.figure__title img {
  height: 50px;
  padding-right: 8px;
}
.figure__inputs {
  margin-top: 20px;
}
.figure__inputs input {
  width: 50vw;
  background: var(--LightNavy);
  border: none;
  border-radius: 3px;
  height: 40px;
  outline: none;
  color: var(--white);
}
.figure__inputs input:focus {
  background: var(--LightestNavy);
}
.figure__inputs select {
  background: var(--LightNavy);
  color: var(--white);
  outline: none;
  border: none;
  height: 40px;
  width: 20vw;
  border-radius: 3px;
}
.figure__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.br {
  height: 3px;
  background-color: var(--LightestSlate);
  margin: 50px 0 100px 0;
  width: 70vw;
}

.triangle__inputs {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px 0;
  width: 70vw;
}
.triangle__inputs input {
  background: var(--LightNavy);
  border: 1px solid var(--Slate);
  border-radius: 3px;
  height: 40px;
  outline: none;
  color: var(--white);
  margin-bottom: 15px;
}
.triangle__inputs input:focus {
  background: var(--background);
}
.triangle__inputs select {
  background: var(--LightNavy);
  color: var(--white);
  outline: none;
  border: none;
  height: 40px;
  width: 70vw;
  border-radius: 3px;
}

.discount__inputs {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px 0;
  width: 70vw;
}
.discount__inputs input {
  background: var(--LightNavy);
  border: 1px solid var(--Slate);
  border-radius: 3px;
  height: 40px;
  outline: none;
  color: var(--white);
  margin-bottom: 15px;
}
.discount__inputs input:focus {
  background: var(--background);
}
.discount__inputs input:last-child {
  margin-top: 10px;
}

:root {
  --background: #0a192f;
  --green: #64ffda;
  --white: #e6f1ff;
  --LightestNavy: #233554;
  --LightNavy: #112240;
  --greenTransparent: #64FFDA5C;
  --LightestSlate: #ccd6f6;
  --Slate: #8892b0;
  --wrapperSpace: 1.5em;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

p, label, span {
  color: var(--white);
}

label {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--green);
  border-radius: 3px;
  padding: 8px 13px 8px 10px;
  color: var(--green);
  font-weight: bold;
}

button:last-child {
  margin-left: 20px;
}

button:hover {
  background: var(--greenTransparent);
  transition: 0.3s;
}

#result, #result2, #result3, #result4 {
  position: relative;
  left: 30%;
  top: 40px;
}

#measures, #measures2, #measures3 {
  position: relative;
  left: 30%;
  top: 40px;
}

/*# sourceMappingURL=styles.css.map */
